In [10]:
import pandas as pd

In [11]:
from skimpy import clean_columns
from ipywidgets import interact, Dropdown, IntSlider, Output, widgets
# from IPython.core.display import display
from IPython.display import display
import re

In [14]:
df0 = pd.read_csv("e_commerce_data.csv", sep=";")
df = df0.copy()

In [15]:
df.head()

,Ord_ID,Cust_ID,Prod_ID,Ship_ID,Order_Date,Ship_Date,Customer_Name,Province,Region,Customer_Segment,Sales,Order_Quantity,Order_Priority,DaysTakenForShipping
0,Ord_738,Cust_241,Prod_7,SHP_1005,2012-07-28,2012-07-29,KRISTINA NUNN,BRITISH COLUMBIA,WEST,CONSUMER,15119,38,MEDIUM,1
1,Ord_757,Cust_231,Prod_14,SHP_1034,2010-01-14,2010-01-16,LELA DONOVAN,BRITISH COLUMBIA,WEST,CORPORATE,660792,34,NOT SPECIFIED,2
2,Ord_825,Cust_247,Prod_14,SHP_1132,2011-01-10,2011-01-12,TONY CHAPMAN,BRITISH COLUMBIA,WEST,CONSUMER,2766392,8,CRITICAL,2
3,Ord_1092,Cust_1426,Prod_7,SHP_1508,2010-09-05,2010-09-05,BRUCE STEWART,NEW BRUNSWICK,ATLANTIC,CORPORATE,12337,27,NOT SPECIFIED,0
4,Ord_1286,Cust_481,Prod_7,SHP_1774,2009-10-21,2009-10-23,PHILIP BROWN,ONTARIO,ONTARIO,HOME OFFICE,5238,13,NOT SPECIFIED,2

In [18]:
df['Ord_ID'] = df['Ord_ID'].str.replace('Ord_', '')
df['Cust_ID'] = df['Cust_ID'].str.replace('Cust_', '')
df['Ship_ID'] = df['Ship_ID'].str.replace('SHP_', '')
df['Prod_ID'] = df['Prod_ID'].str.replace('Prod_', '')

In [19]:
df.head()

,Ord_ID,Cust_ID,Prod_ID,Ship_ID,Order_Date,Ship_Date,Customer_Name,Province,Region,Customer_Segment,Sales,Order_Quantity,Order_Priority,DaysTakenForShipping
0,738,241,7,1005,2012-07-28,2012-07-29,KRISTINA NUNN,BRITISH COLUMBIA,WEST,CONSUMER,15119,38,MEDIUM,1
1,757,231,14,1034,2010-01-14,2010-01-16,LELA DONOVAN,BRITISH COLUMBIA,WEST,CORPORATE,660792,34,NOT SPECIFIED,2
2,825,247,14,1132,2011-01-10,2011-01-12,TONY CHAPMAN,BRITISH COLUMBIA,WEST,CONSUMER,2766392,8,CRITICAL,2
3,1092,1426,7,1508,2010-09-05,2010-09-05,BRUCE STEWART,NEW BRUNSWICK,ATLANTIC,CORPORATE,12337,27,NOT SPECIFIED,0
4,1286,481,7,1774,2009-10-21,2009-10-23,PHILIP BROWN,ONTARIO,ONTARIO,HOME OFFICE,5238,13,NOT SPECIFIED,2

In [20]:
df.to_csv("clean_e_commerce_data.csv", index=False)